@media only screen and (max-width:992px) and (min-width:768px){
    *{
        line-height: 150%;
      }
      #projectCharter{
        display: flex;
        flex-direction: column;
        border: solid;
        border-width: 20px;
        border-color: #0910ff;
      }
      #first{
        order: 1;
      }
      #second{
        order: 2;
      }
      #third{
        order: 3;
      }
      #forth{
        order: 4;
      }
      #projectCharter>div{
        border: solid;
        border-width: 10px;
        border-color: #0910ff;
        background-color: #f0f8ff;
      }
      .charterInfoCtn{
        padding: 20px;
      }
      .charterHeader{
        padding: 10px 0 10px;
        color: #0910ff;
        border-bottom: solid;
        border-color: #d1dfdf ;
        border-width: 2px;
        margin-bottom: 10px;
      }
      .charterGoals{
        border-bottom: solid;
        border-color: #e2edf0 ;
        border-width: 1px;
        display: block;
      }
      .charterGoals>i{
        font-size: 40px;
        text-align: center;
        display: inline-block;
        padding-top: 20px;
      }
      
      #scopesInner{
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: row;
        padding: 0 20px 0;
      }
      .charterScopes>h1{
        padding-bottom: 20px;
      }
      .charterScopes>p{
        padding-bottom: 10px;
        padding-right: 20%;
      }
      
      #charterTeam>div{
        flex-direction: column;
      }
      .charterTeamInner{
      display: block;
      }
      .charterTeamInner>i{
        text-align: center;
        font-size: 40px;
      }
      
      #primaryContent{
        flex-direction: column;
      }
      #primaryContent p{
        padding-right: 10%;
      }
      #timeline{
        order: 5;
      }
      .charterInfoCtn>div{
        flex-direction: column;
        gap: 20px;
      }
      .timelineInner>h1{
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: #9e88ff;
        color: white;
        border: solid;
        border-color: #736e87;
        border-width: 2px;
        width: 50px;
        height: 50px;
      }
      .timelineInner>div{
        border-bottom: dashed;
        border-color: #bee5ec;
        border-width: 2px;
      }
      .timelineInner>div>*{
        padding-left: 20px;
      }
}